body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #516ce5; */
}

.SignUp-box {
    background-color: var(--container-bg);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.Title {
    width: 400px; 
    height: 150px;
    margin-bottom: 35px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

h3 {
    width: 420px; 
    text-align: left;
    margin-bottom: 5px;
    margin: 5px;
  }

.form-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    color: var(--text);
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
}

.form-container button:hover {
    background-color: #6b8bd1;
}

.additional-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.additional-options button {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
}

.additional-options button:hover {
    text-decoration: underline;
}

.checkbox-container {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 8px;
  }