body {
  margin: 0;
  font-family: inherit;
  background-color: var(--background);
  color: var(--text);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: var(--background);
}

.login-box {
  background-color: var(--surface);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
}

.logo {
  margin-bottom: 50px;
}

.logo img {
  width: 150px;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--text);
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--background);
  color: var(--text);
}

.form-container button {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: var(--text);
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-container button:hover {
  background-color: var(--link-color);
}

.additional-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.additional-options button {
  background: none;
  border: none;
  color: var(--link-color);
  cursor: pointer;
  font-size: 14px;
}

.additional-options button:hover {
  text-decoration: underline;
}