:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* default values for light theme*/
  --background-color: #ffffff;
  --text-color: #213547;
  --button-bg: #afb1b1;
  --link-color: #646cff;
  --link-hover-color: #747bff;
  --button-border-hover: #646cff;

  color: var(--text-color);
  background-color: var(--background-color);
}

[data-theme="dark"] {
  --background-color: #24292E;
  --text-color: #ffffff;
  --button-bg: #00000028;
  --link-hover-color: #535bf2;

  color: var(--text-color);
  background-color: var(--background-color);
}

html[data-theme] body { /* Increase specificity */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color) !important; /* Force for testing */
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text-color);
}
button:hover {
  border-color: var(--button-border-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}