:root {
  /* Default (light theme) variables */
  --background: #dadada; /* White for light theme */
  --text: #213547; /* Dark text for light theme */
  --primary: #646cff; /* Link color */
  --button-bg: #f9f9f9; /* Button background for light theme */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Dark theme overrides */
[data-theme="dark"] {
  --background: #494949; /* Dark gray for dark theme */
  --text: rgba(255, 255, 255, 0.87); /* Light text for dark theme */
  --primary: #535bf2; /* Adjusted link color for dark theme */
  --button-bg: #706f6f; 
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  color: var(--text);
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}