:root {
    --white: oklch(97% 0 0);
    --light-grey: oklch(87% 0 0);
    --grey: oklch(70.8% 0 0);
    --mid-grey: oklch(43.9% 0 0);
    --dark-grey: oklch(26.9% 0 0);
    --black: oklch(14.5% 0 0);
}